* {
    font-family: 'Young Serif', serif;
}

body {
    background-color: rgb(209, 237, 253);
    background-image: linear-gradient(rgb(209, 237, 253), #224377);
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.bigger {
    font-size: 25px;
    font-weight: bold;
}

.marginRight {
    padding-right: 30px;
    margin-right: 40px;
    border-right: 1px dashed rgb(65, 65, 65);
}

.marginTop {
    margin-top: 35px;
}

.marginLeft {
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.marginBottom {
    margin-bottom: 30px;
}

.todayInfo {
    width: 30%;
    height: 450px;
    padding: 40px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.35);
}

.fiveDayInfo {
    width: 90%;
    padding: 40px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.35);
}

.clear {
    background-color: rgb(253, 175, 175);
}

.search {
    background-color: rgb(213, 213, 213);
}

.searchBtn {
    background-color: rgb(213, 213, 213);
}

.clearSection {
    width: 100%;
}

.tempColor {
    color: #224377;
}

@media screen and (max-width: 992px) {
    .todayInfo {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .todayInfo {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .todayInfo {
        width: 65%;
    }
}